h1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: #0E9DD9;
  color: #000; }

.twitch-viewer {
  margin: 0 auto;
  max-width: 60%;
  background-color: #6441A4;
  color: #FFF; }
  @media screen and (max-width: 600px) {
    .twitch-viewer {
      max-width: 85%; } }

.menubar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #0E9DD9; }
  .menubar a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color: #000;
    -webkit-transition: background-color 350ms;
    -o-transition: background-color 350ms;
    transition: background-color 350ms; }
    .menubar a:hover {
      background-color: #7d5abe; }
  .menubar .active {
    background-color: #7d5abe; }

.twitch-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 15px; }
  .twitch-user .twitch-avatar-container {
    width: 100px;
    height: 100px;
    margin-left: 25px; }
    .twitch-user .twitch-avatar-container .twitch-avatar {
      border-radius: 50%;
      max-width: 100px;
      max-height: 100px; }

.twitch-username {
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.twitch-game {
  font-style: italic;
  font-size: 18px;
  text-align: center; }

.icons {
  margin-right: 25px; }
  .icons .online-icon {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 25px; }
  .icons a {
    color: #DDD;
    -webkit-transition: color 350ms;
    -o-transition: color 350ms;
    transition: color 350ms; }
    .icons a:visited {
      color: #DDD; }
    .icons a:hover {
      color: #0E9DD9; }

.img-placeholder {
  display: block;
  visibility: hidden; }
