$avatarSize: 100px;

h1 {
  text-align: center;
}

.twitch-viewer {
  margin: 0 auto;
  max-width: 75%;
}

.menubar {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    background-color: pink;

    &:hover {
      background-color: blue;
    }
  }
}

.twitch-user {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background-color: pink;

  .twitch-avatar-container {
    width: $avatarSize;
    height: $avatarSize;
    margin-left: 25px;

    .twitch-avatar {
      // display: block;
      border-radius: 50%;
      max-width: $avatarSize;
      max-height: $avatarSize;
    }
  }
}

.twitch-username {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.twitch-game {
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

.icons {
  margin-right: 25px;

  .online-icon {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 25px;
  }
}

.img-placeholder {
  display: block;
  visibility: hidden;
}
